extends ../layout

block content
  .container
    .row
      include ../../includes/logo-top
      .col-md-8.col-md-offset-1.pull-left.mmmain
        a(href="/books/new") Add a Book
        hr  
        h1 Books
        hr  
        if books
          .col-md-12
            for book in books
              .bbbook
                .col-md-4.pull-left
                  p
                    img(src="#{book.cover_url}" alt="#{book.title} cover" width="100%")
                .col-md-8.pull-left      
                  p
                    h3  
                      a(href="/books/#{book.id}") #{book.title}      
                    | By 
                    a(href="/authors/#{book.author_id_1}") author 1
                    span(style=( book.author_id_2 ? "display: inline-block" : "display: none" ))
                      | , 
                      a(href="/authors/#{book.author_id_2}") author 2
                    span(style=( book.author_id_3 ? "display: inline-block" : "display: none" ))
                      | ,  
                      a(href="/authors/#{book.author_id_3}") author 3
                  p
                    | #{book.genre} 
                  p  
                    | #{book.description}
              hr      
