.form-group
  p
    label(for="title") Book Title
    br
    input.form-control(type="text" id="title" name='title' placeholder="Book Title" value= (book ? book.title : ''))
.form-group
  p
    label(for="genre") Book Genre
    br
    input.form-control(type="text" id="genre" name='genre' placeholder="Book Genre" value= (book ? book.genre : ''))
.form-group
  p
    label(for="description") Book Description
    br
    textarea.form-control(rows="7" id='description' name='description')= (book) ? book.description : ''
.form-group
  p
    label(for="cover_url") Book Cover URL
    br
    input.form-control(type="text" id="cover_url" name='cover_url' placeholder="Book Cover URL" value= (book ? book.cover_url : ''))
.form-group
  if authors
    #auth1
      p  
      label(for="author_id_1") Add an Author
      select.form-control(name="author_id_1" id="author_id_1")
        option(disabled selected=(book ? (book.author_id_1 ? undefined : "selected") : "selected")) Choose Existing Author
        for author in authors
          option(value="#{author.id}" selected=(book ? ("#{book.author_id_1}" === "#{author.id}" ? "selected" : undefined) : undefined)) #{author.firstname} #{author.lastname}
    
    #addauth1(style=(book ? ( book.author_id_2 ? "display: none" : "display: block" ) : "display: block"))  
      p
        .btn.btn-default#askferauth2 Add Second Author
    
    #auth2(style=(book ? ( book.author_id_2 ? "display: block" : "display: none" ) : "display: none"))      
      p  
      label(for="author_id_2") Add Second Author 
      select.form-control(name="author_id_2" id="author_id_2")
        option(disabled selected=(book ? (book.author_id_2 ? undefined : "selected") : "selected")) Choose Existing Author
        for author in authors
          option(value="#{author.id}" selected=(book ? ("#{book.author_id_2}" === "#{author.id}" ? "selected" : undefined) : undefined)) #{author.firstname} #{author.lastname}
    
    #addauth2(style=(book ? ( book.author_id_3 ? "display: none" : "display: block" ) : "display: block"))   
      p
        .btn.btn-default#askferauth3 Add Third Author
    
    #auth3(style=(book ? ( book.author_id_3 ? "display: block" : "display: none" ) : "display: none"))      
      p  
      label(for="author_id_3") Add Third Author 
      select.form-control(name="author_id_3" id="author_id_3")
        option(disabled selected=(book ? (book.author_id_3 ? undefined : "selected") : "selected")) Choose Existing Author
        for author in authors
          option(value="#{author.id}" selected=(book ? ("#{book.author_id_3}" === "#{author.id}" ? "selected" : undefined) : undefined)) #{author.firstname} #{author.lastname}
